$light-blue: #66baff;
$blue: #008afa;
$dark-blue: #00429a;
$navy-blue: #003057;

$black: #1d1d1d;
$white: #f1f1f1;

$light-grey: #cccccc;
$grey: #a6a6a6;
$dark-grey: #6e6e6e;

$red: #f63737;
$green: #0acd61;

$light-orange: #fcd49c;
$orange: #eebc56;
$dark-orange: #e9840f;
